.venv
__pycache__
*.pyc
.git
.gitignore
.env
.env.*
.vscode
.idea
.pytest_cache
.mypy_cache
.coverage
htmlcov
dist
build
*.egg-info
Dockerfile
docker-compose_dev.yml
docker-compose_prod.yml
README.md
tests